<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Box Example</title>
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
    <%- include('templates/header') %>
    <div class="search-container">
        <form action="/search" method="get">
            <input type="text" id="searchQuery" name="searchQuery" placeholder="Search your blog...">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="searchblog"><%- include('partial/recentBlog') %></div>
        <%- include('templates/footer') %>
    
</body>
</html>
