<link rel="stylesheet" href="/css/header.css">
<body>
    <header>
        <div class="logo">
            <p>MyBlog (:) KISHAN</p>
        </div>

        <div class="contain">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/category">Category</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </header>
</body>